/** boton buscador**/
$btn-outline-success-color:#f6b60e;
$btn-success-border-color:#f6b60e;

$btn-outline-success-hover-color: #fff;
$btn-outline-success-hover-background-color:#968bea;
$btn-outline-success-hover-border-color:#6c5ce7;

$btn-outline-success-focus-box-shadow:0 0 0 0.2rem #f6b60e;

$btn-outline-success-disabled-color:#fff;
$btn-outline-success-disabled-background-color:#f6b60e;
$btn-outline-success-disabled-border-color:#968bea;
$btn-outline-success-disabled-box-shadow:0 0 0 0.2rem;
