
/**body**/
$body-font-family:"Inter", sans-serif;
/** fin body**/


/** h1 **/
$h1-font-family: Montserrat, sans-serif;
$h1-font-size: 2.5rem !important;
$h1-font-weight: 800;

/**FIN h1**/

/**h2**/
$h2-font-size: 1.8rem;

/**h3**/
$h3-font-size: 1.5rem;


/**h4**/
$h4-font-size: 1.3rem;

$subtitulo-font-size:18px;

/**h5**//**card title**/
$h5-font-size: 1rem;

/**Card-text**/
$Card-text-font-size:0.75rem;

/**footer**/
$follow-font-size: 1rem;