@mixin flexbox-space-between{
    display: flex;
    justify-content: space-between;
}
@mixin flexbox-center{
    display: flex;
    justify-content: center;
}

@mixin text-align-center {
    text-align: center;
}
@mixin tranform-scale {
    transform: scale(1.1);
}
@mixin transform-scale-dos {
    transform: scale(1.2);
}